@import "tailwindcss";

@theme {
    --color-primary: #22d3ee;
    --color-secondary: #2563eb;
    --color-dark: #0f172a;
    --color-dark-lighter: #1e293b;
}

@layer base {
    body {
        background-color: var(--color-dark);
        color: #e2e8f0;
        font-family: 'Inter', system-ui, sans-serif;
    }
}